<h2>Password Reset Request</h2>

<p>Hi <%= @user.full_name || 'there' %>,</p>

<p>We received a request to reset the password for your ProStaff account (<%= @user.email %>).</p>

<p>Click the button below to reset your password:</p>

<p style="text-align: center;">
  <a href="<%= @reset_url %>" class="button">Reset Password</a>
</p>

<p>Or copy and paste this link into your browser:</p>
<p style="word-break: break-all;"><%= @reset_url %></p>

<p><strong>This link will expire in <%= @expires_in %> minutes.</strong></p>

<p>If you didn't request a password reset, you can safely ignore this email. Your password will not be changed.</p>

<p>Best regards,<br>
The ProStaff Team</p>
